.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: transparent;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.menu {
  display: none;
}

.mob_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link {
  flex-shrink: 0;

  &:focus {
    border-radius: 4px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
  }
}

.logo {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .mob_menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
}
