.wrap {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  border: 1px solid #111111;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgb(250, 94, 94);
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.message {
  font-size: 18px;
}
.message span {
  font-size: 20px;
  text-decoration-line: underline;
}
