.form {
  width: 50%;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
  margin-bottom: 40px;
  width: fit-content;
}

.label_title {
  font-weight: 500;
}

.input {
  padding-left: 12px;
  width: 250px;
  height: 42px;
  border: 2px solid;
  border-radius: 6px;
  background-color: transparent;

  font-size: 18px;
  color: inherit;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    outline: transparent;
    background-color: #e0e0e0;
  }
}

.btn {
  display: flex;
  padding: 8px 12px;
  margin-left: 50px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #a0a0a0;

  font-weight: 500;
  color: inherit;

  transition: background-color 250ms linear, border 250ms linear;
  &:hover {
    border: 1px solid #111111;
    background-color: #7c7c7c;
  }
}

.message {
  position: absolute;
  bottom: -28px;
  left: 12px;

  font-size: 14px;
  font-weight: 500;
  color: #d00000;
}
