@media screen and (max-width: 767px) {
  .mob_home_link {
    flex-shrink: 0;

    &:focus {
      border-radius: 4px;
      outline: 2px solid rgba(0, 0, 0, 0.5);
    }
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .menu_wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mob_home_link {
    display: none;
  }

  .menu_wrap {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
