.wrap {
  display: flex;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border: 1px solid #ea8c9d;
  border-radius: 5px;
  background-color: rgb(161, 216, 238);

  color: #f06982;
  font-size: 20px;

  transition: filter 250ms linear, color 250ms linear, background 250ms linear;
}

.link:hover,
.link:focus-visible {
  outline: transparent;
  filter: drop-shadow(0px 0px 5px #ea8c9d);
}

.active_link {
  background: linear-gradient(to bottom right, #86dcfe 25%, #2ad7fe 50%);
  color: #f15b76;
}
