.login_contaiter {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  display: inline-flex;
  margin-bottom: 24px;
  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.5);

  font-weight: 500;
  color: rgb(9, 9, 107);
}
