.no_matches {
  color: #bebebe;
  font-size: 20px;
}

.contact_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact_card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 8px;
  height: 85px;
  border-radius: 4px;
  overflow: hidden;

  color: #bebebe;

  transition: all 250ms linear;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 4px 1px rgba(222, 46, 195, 1);

    color: #fafafa;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
