.user_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 178px;
}

.user_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  width: calc((100% - 60px) / 4);
  max-height: 80px;
  border: 2px solid #555555;
  border-radius: 8px;
  background-color: rgba(194, 234, 250, 0.7);

  transition: transform 250ms linear, box-shadow 250ms linear;

  &:nth-child(even) {
    background-color: rgba(234, 140, 157, 0.7);
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px 0px rgba(131, 131, 131, 1);
  }
}
@media screen and (max-width: 768px) {
  .user_card {
    width: calc((100% - 20px) / 2);
  }
}
